.agenda_view{
    height: 100vh;
    /* background-color: rgb(216, 198, 198); */
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 84px;
    
}
/* .editor{
    width: 26%;
    background-color: green; 
    border: 1px solid black;
} */
.view_header{
    display: flex;
    background-color: #fff;
    flex-shrink: 0;
    position: sticky;
    top: 0px;
    z-index: 2;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 36px;
    height: 73.4px;
}
.view_header .view_header__content {
  display: flex;
  width: 100%;
  padding-bottom: 6px;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .3s;
  align-items: flex-start;
  word-break: break-word;
}
.simple_title_today{
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    outline-color: rgb(32, 32, 32);
}
.simple_title_date{
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
    margin-left: 6px;
    outline-color: rgb(128, 128, 128);
    opacity: 0.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
  font-size: 14px;
  font-weight: 350;
}

form {
  min-height: 20vh;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 55px;
  max-width: 910px;
  margin: 0 auto;
    
} */
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: white;
  background: #DB4C3F;
  cursor: pointer;
  transition: all ease;
}
form button:hover {
  background: white;
  color: #DB4C3F;
  border-radius: 4px;
  opacity: 100%;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-input{
    padding: 0.9rem;
    margin-right: 2px;
    border: 2px solid #DB4C3F;
    border-radius: 4px;
    width: 55%;
}

textarea:focus, input:focus{
    outline: none;
}

.todo-button{
    padding: 1rem;
    background-color: white;
    border-radius: 4px;
    color: #DB4C3F;
    opacity: 50%;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #DB4C3F;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  color: white;
}
select {
  color: #DB4C3F;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #DB4C3F;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/