@tailwind base;
@tailwind components;
@tailwind utilities;


li {
  list-style: none;
  padding: 0px 12px 4px 0px; /* this is in place of your margin */
  font-size: 15px;
}

li > span {
  display: block;
  padding: 6px 4px 6px 0px; /* this is you original li padding */
}
li:hover > span {
    background-color: #eeeeee;
    border-radius: 5px;
}
